@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans:wght@300&display=swap');
*{
          margin: 0;
          padding: 0;
}

nav{
          background-color: rgb(240, 5, 107);
          color: white;
          height: 25px;
          font-size: 27px;
          font-family: 'Montserrat', sans-serif;
          display: flex;
          align-items: center;
          padding: 0px 15px;
}

nav ul{
          list-style-type: none;
}

.gameContainer{
          /* background-color: rgb(239, 6, 60); */
          display: flex;
          justify-content: center;
          margin-top: 50px;
}
.container{
          /* background-color: white; */
          display:grid;
          grid-template-rows: repeat(3, 10vw);
          grid-template-columns: repeat(3, 10vw);
          font-family: 'Montserrat', sans-serif;
          position:relative;
}
.box{
          background-color: white;
          border: 2px solid black;
          font-size: 7vw;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
}
.box:hover{
          background-color: rgb(239, 6, 60);
}
.info{
          font-size: 22px;
}
.gameInfo h1{
          font-size:2.5rem;
}
.gameInfo{
          padding: 0 30px;
          font-family: 'Work Sans', sans-serif;
}
.imgbox img{
          width: 0;
          transition: width 1s ease-in-out;
}
/* used to remove top-bottom-left-right border */
.bt-0{
          border-top: 0;
}
.bb-0{
          border-bottom: 0;
}
.bl-0{
          border-left: 0;
}
.br-0{
          border-right: 0;
}
#reset{
          margin: 0 15px;
          padding: 6px 14px;
          background-color: rgb(239, 6, 60);
          border-radius: 6px;
          cursor: pointer;
          font-size: 15px;
          font-weight: bolder;
}
#reset:hover{
          background-color: rgb(7, 232, 26);
}
.line{
          background-color: black;
          height: 3px;
          width: 0;
          position: absolute;
          background-color: #911d91;
          transition: width 1s ease-in-out;
}
@media screen and(max-width: 825px){
          .gameContainer{
                    flex-wrap:wrap;
          }
          .gameInfo{
                    margin-top:34px;
          }
          .gameInfo h1{
                    font-size:1.5rem;
          }
          .container{
                    grid-template-rows: repeat(3,20vw);
                    grid-template-columns: repeat(3,20vw);
          }
}